/*BACKGROUND*/
body {
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f4ac03c0-d443-4559-900a-de6e5447504a/d6ywqc1-97cc90d9-11af-44b9-987b-09f9c42587cf.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZjRhYzAzYzAtZDQ0My00NTU5LTkwMGEtZGU2ZTU0NDc1MDRhXC9kNnl3cWMxLTk3Y2M5MGQ5LTExYWYtNDRiOS05ODdiLTA5ZjljNDI1ODdjZi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.cW33E9moMfxYU_N3cgvCyQn8YJxmzgzrI7at8jJXGvM) no-repeat center center fixed;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
}

/*HEADER*/
.header {
  text-align: center;
  padding: 10px;
  visibility: hidden;
}

.header > h1 {
  color:white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 200%;
  font-style: bold;
  font: outline;
  margin: 0px 100px 0px 100px;
}

.header > h2 {
  color: grey;
  font: outline;
  font-size: 100%;
  font-family: 'Times New Roman', Times, serif;
  margin: 0px 100px 0px 100px;
}


/*NAVBAR AND DROPDOWN*/
.navbar {
  visibility: hidden;
  overflow: hidden;
  background-color: rebeccapurple;
}

.navbar a {
  float: left;
  color: mintcream;
  text-align: center;
  font-size: 20px;
  padding: 14px 16px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown #dropdownButton {
  font-size: 20px;
  border: none;
  outline: none;
  background-color: rebeccapurple;
  color: mintcream;
  padding: 14px 16px;
  margin: 0;
}

.navbar a:hover, .dropdown:hover {
  background-color: lightsteelblue;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: rebeccapurple;
  z-index: 1;
}

.dropdownContent a {
  float: none;
  color: mintcream;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdownContent a:hover {
  background-color: lightsteelblue;
}

.dropdown:hover .dropdownContent {
  display: block;
}

/*HOME PAGE / BASIC INFO PAGE*/
.homePage {
  visibility: hidden;
  width: 90%;
  height: 1000px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.infoPage {
  visibility: hidden;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.homePage h2, .infoPage h2, .allCardsPage h2, .cardTitle h2 {
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 10px 100px 10px 100px;
}

.allCardsPage h3 {
  color: lightgrey;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.homePage h3 {
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 170%;
  text-decoration: underline;
}

.homePage p, .homePage li, .infoPage p {
  color: lightgrey;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 150%;
}

.homePage li {
  font-size: 120%;
}

.homePage .homeContainer {
  height: 300px;
  padding: 20px;
  width: 100%;
}

.homePage .homeContainer2 {
  padding: 20px;
  height: 300px;
  width: 100%;
}

.homePage #left, .homeContainer2 .leftSide {
  padding: 10px;
  float: left;
  width: 45%;
}

.homePage #right, .homeContainer2 .rightSide {
  padding: 10px;
  float: right;
  width: 45%;
}

.homePage img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*ALL CARDS PAGE*/
.allCardsPage {
  visibility: hidden;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 100%;
}

.allCardsPage h2 {
  width: 70%;
}

.allCardsPage #listContainer, .cardPage .cardLists {
  width: 100%;
  margin: 0;
  padding: 0;
}

.allCardsPage li, .cardPage li {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  color: lightgrey;
}

.allCardsPage a:hover, .cardLists a:hover {
  text-decoration: underline;
  color: turquoise;
}

.first, .second, .third, .fourth, #first, #second, #third, #fourth {
  float: left;
  width: 20%;
}

.fifth, #fifth {
  float: right;
  width: 20%;
}

/*CONTAINER*/
.container {
  height: 800px;
  width: 100%;
}


/*CARD PAGE*/
.cardPage {
  visibility: hidden;
  width: 100%;
}

.cardPageHeader {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cardPageFields input {
  position: absolute;
  left: 50%;
  top: 28%;
  transform: translateX(-50%);
}

.cardPageButtons button {
  position: absolute;
  left: 50%;
  top: 38%;
  transform: translateX(-50%);
}

.cardImage {
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translateX(-50%);
}

.makeGolden {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.cardDescription {
  position: absolute;
  width: 50%;
  height: 500px;
  left: 50%;
  top: 110%;
  transform: translateX(-50%);
}

.cardDescription p {
  height: 100%;
  font-size: 150%;
  color: white;
}

.cardTitle {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: lightgrey;
}

.cardLists {
  position: absolute;
  top: 55%;
}

/*CARD PAGE FIELDS INPUT*/
.cardPageFields input {
  outline: none;
  font-size: 120%;
  width: 10%;
  height: 30px;
}

/*CARD PAGE BUTTONS*/
.cardPageButtons button {
  background-color: transparent;
  transition-duration: 0.5s;
  border: 5px solid lightgoldenrodyellow;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 15px;
  width: 150px;
  height: 50px;
  outline: none;
}

.cardPageButtons button:hover {
  background-color: white;
  color: black;
}

/*LOADER*/
.loader {
  visibility: hidden;
  left: 45%;
  top: 60%;
  transform: translateX(-50%);
  position: absolute;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid rebeccapurple;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*SMALL LOADER*/
.smallLoader {
  visibility: hidden;
  left: 46%;
  top: 75%;
  transform: translateX(-50%);
  position: absolute;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid rebeccapurple;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}