/* Background image covers whole background */
body {
  background: url("https://cdn.hipwallpaper.com/i/30/95/NUH9Dk.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* No outline on buttons */
button {
  outline: none;
}

/* Title image on left */
img#left-side {
  float: left;
}

/* Title image on right*/
img#right-side {
  float: right;
}

/* Header aligned in center*/
#header {
  text-align: center;
  padding: 10px;
  position: relative;
  z-index: 0;
}

/* Header font style*/
#header > h1 {
  color:white;
  font-family: 'Times New Roman', Times, serif;
  font-style: bold;
  font-size: 200%;
  margin: 40px 100px 10px 100px;
}

/* Header font style*/
#header > h2 {
  color: lightcyan;
  font-family: georgia;
  font-style: italic;
  font-size: 85%;
  margin: 0px 100px 0px 100px;
}


.history, .rules, .customize {
  height: 100%;
}

/*Menu div*/
div.menu-select {
  height: 500px;
  position: relative;
  z-index: 0;
}

/*History picture*/
#simon-pic {
  left: 50%;
  top: 56%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  margin: 20px, 0px, 20px, 0px;
  position: absolute;
  z-index: 0;
}

/*Play button position*/
.play-button {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 0;
}

/*Customize button position*/
.customize-button {
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 0;
}

/*Demo button position*/
.demo-button {
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 0;
}

/*Rules button position*/
.rules-button {
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 0;
}

/*History button position*/
.history-button {
  top: 80%;
  left: 70%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 0;
}

/*Back Home/Reset Button styling*/
.back-home, #reset-button {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 0;
  background-color: transparent;
  transition-duration: 0.5s;
  border: 5px solid cyan;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 20px;
  width: 150px;
  height: 75px;
}

/*Customize/Back Home position*/
.customize .back-home {
  top: 91%;
}

/*Button styling*/
#play-button, #customize-button, #demo-button, #rules-button, #history-button {
  background-color: transparent;
  transition-duration: 0.5s;
  border: 5px solid cyan;
  border-radius: 10px;
  color: white;
  padding: 20px 30px;
  text-align: center;
  font-size: 30px;
  width: 200px;
}

#customize-button {
  padding: 20px 20px;
}

/*Button Hover color change*/
.back-home:hover, #play-button:hover, #customize-button:hover, #demo-button:hover,#rules-button:hover, #history-button:hover, #reset-button:hover {
  background-color: white;
  color: black;
}

/*Div positions*/
.rules, .demo, .play, .customize, .history, .simon-game {
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: none;
  top: 0;
  position: absolute;
  z-index: 1;
}

/*Header styling*/
.rules h1, .demo h1, .play h1, .customize h1, .history h1, .simon-game h1 {
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 40px 100px 10px 100px;
}

/*List style and margins*/
.rules li {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 150%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
}

/*Paragraph style and margins*/
.history p {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10px;
}

/*Link color*/
.history a {
  color:aqua;
}

/*Link hover color*/
.history a:hover {
  color: yellow;
}

/*Radio styling*/
.color-picker {
  display: block;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 100%;
  color: white;
}

/*Range slider styling*/
.slider {
  width: 70%;
  height: 20px;
  outline: 3px;
  opacity: 0.7;
  transition: opacity .2s;
  color: white;
}

/*Range slider hover styling*/
.slider:hover {
  opacity: 1;
}

/*Customize option styling*/
.play-speed, .board-size, .color-picker {
  width: 100%;
  color: white;
  margin-left: 20%;
}

/*Game div full size*/
.simon-game {
  height: 100%;
  width: 100%;
}

/*Game paragraph styling*/
.simon-game p {
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

/*SCORE AND INSTRUCTION STYLING*/
.simon-game #score, .simon-game #highscore, .simon-game #score-value, .simon-game #highscore-value, .simon-game #instructions {
  position: absolute;
  z-index: 0;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.simon-game #score {
  left: 10%;
  top: 30%;
  font-size: 150%;
}

.simon-game #highscore {
  left: 90%;
  top: 30%;
  font-size: 150%;
}

.simon-game #score-value {
  left: 10%;
  top: 33%;
  font-size: 250%;
}

.simon-game #highscore-value {
  left: 90%;
  top: 33%;
  font-size: 250%;
}

.simon-game #instructions {
  left: 50%;
  top: 15%;
  font-size: 200%;
  visibility: visible;
}

/*Game Board styling*/
.game-board {
  /*width: 27.63%;
  height: 45.05%;*/
  width: 420px;
  height: 280px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 5px solid cyan;
  border-radius: 5%;
}

/*Game button styling*/
#red-button, #green-button, #yellow-button, #blue-button {
  border: none;
  border-radius: 10px;
  width: 30%;
  height: 30%;
  position: absolute;
  opacity: 0.7;
}

#red-button, #green-button {
  top: 15%;
  transform: translateY(-50%);
}

#yellow-button, #blue-button {
  bottom: 15%;
  transform: translateY(50%);
}

#green-button, #yellow-button {
  left: 30%;
  transform: translateX(-50%);
}

#red-button, #blue-button {
  right: 30%;
  transform: translateX(50%);
}

#reset-button {
  left: 30%;
}

.simon-game .back-home {
  left: 70%;
  margin-right: 10%;
}

#reset-button, .simon-game .back-home {
  margin-top: 50px;
}