html {
  margin: 0;
  padding: 0;
}

.summary, .preamble, .supporting, footer {
	padding: 0 175px 0 110px;
	margin: 0;
	position: relative;
  color: whitesmoke;
	}

body {
  font: 75% Times New Roman;
  line-height: 1;
  color: black;
  margin: 0;
  padding: 0;
  background-image: url(https://wallpapercave.com/wp/wp4570372.png);
  background-size: 100% 100%;

/*https://i.pinimg.com/originals/36/33/b7/3633b7d5e53740775fed073b8add89da.jpg*/

/*https://ae01.alicdn.com/kf/HTB1I6SUNVXXXXXcXXXXq6xXFXXXw/beibehang-Custom-photo-background-wallpaper-landscape-waterfall-background-wall-mural-3D-large-mural-wall-paper-papel.jpg_960x960.jpg*/

  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1.0;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 250%;
  color: darkgreen;
  border-style: ridge;
  border-width: 5px;
  border-color: darkred;
}

@keyframes changingColor {
  0% {color: red;}
  25% {color: yellow;}
  50% {color: aqua;}
  100% {color: lime;}
}

@keyframes movingText {
  0% {left: 0px;}
  25% {left: 100px;}
  50% {left: 200px;}
  75% {left: 100px;}
  100% {left: 0px;}
}

a {
  color: deepskyblue;
}

a:hover {
  animation-name: changingColor;
  animation-duration:5s;
  animation-iteration-count: infinite;
}

h2 {
  font-size: 400%;
  top: 0px;
  max-width: 1ch;
  float: left;
  color: darkred;
  word-break: break-all;
  text-transform: uppercase;
  opacity: 0.7;
}

h3 {
  font-size: 125%;
  margin-left: 10px;
  position: relative;
  color: white;
  font-style: italic;
}

h3:hover {
  animation-name: movingText;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

p {
  margin-top: 0;
  text-align: justify;
}

footer {
	text-align: center;
	}

footer a:link, footer a:visited {
	margin-right: 0px;
  font-size: 150%;
	}

.summary {
	margin: auto;
	width: 160px;
	}

.summary p {
	font: oblique 1.0em/1.5 Courier New;
	text-align: center;
	}

.sidebar {
  margin-left: 600px;
  position: absolute;
  top: 200px;
  right: 0;
}

.sidebar .wrapper {
  background: linear-gradient( black, darkred);
  padding: 10px;
  width: 130px;
  opacity: 0.7;
}
